@(form: Form[Pessoa])
@main("BioMonit") {

<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="optimize for firedox">
			<meta name="author" content="Bárbara, David, Filipa, Gil, Miriam">
			<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

			<title>BioMonit</title>

				<!-- Bootstrap core CSS -->
			<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
				<!--external css-->
			<link href="@routes.Assets.at("font-awesome/css/font-awesome.css")" rel="stylesheet" />

				<!-- Custom styles for this template -->
			<link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
			<link href="@routes.Assets.at("stylesheets/style-responsive.css")" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		</head>

  	<body>
		@helper.form(routes.Application.authenticate) {
		<form method="POST" action="login.php">
			<header class="header black-bg">
				<a href="index.html" class="logo">
					<img src="https://scontent.flis7-1.fna.fbcdn.net/v/t31.0-8/18839845_10213499499471810_1127543962238528129_o.jpg?oh=bedb5c360307025fa80b2ec94b138e24&oe=59ABC4A7"
						style="height: 50px; padding-bottom: 5px; margin-top: -5px">
				</a>
			</header>


			<!-- **********************************************************************************************************************************************************
			MAIN CONTENT
			*********************************************************************************************************************************************************** -->

			<div class="container" style="padding-top: 150px; padding-left: 100px; padding-right: 100px">
				<h2 class="form-login-heading">Sign in now</h2>

				<input id="email" type="email" class="form-control" name ="email" placeholder="Email">
				<br>
				<input id="password" type="password" name ="password" class="form-control" placeholder="Password">


				<label class="checkbox">
					<span class="pull-right">
						<a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
					</span>
				</label>

				<br>

				<button id="LOGsignBtn" class="btn btn-theme btn-block" type="submit"
						name="entrar" style="height: 40px">
					SIGN IN
				</button>

				<hr>

				<div class="registration">
					Don't have an account yet?<br/>
					<a class="" href="create_account.html">
						Create an account
					</a>
				</div>
			</div>
			}



			<!-- Modal -->
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				 tabindex="-1" id="myModal" class="modal fade">

				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Forgot Password ?</h4>
						</div>

						<div class="modal-body">
							<p>Enter your e-mail address below to reset your password.</p>
							<input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
						</div>

						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>

							<button class="btn btn-theme" type="button">Submit</button>
						</div>
					</div>
				</div>

			</div>


		</form>


		<!-- js placed at the end of the document so the pages load faster -->
		<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


		<script type="text/javascript" src="@routes.Assets.at("siteJquery.js")"></script>


		<!--BACKSTRETCH-->
		<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.backstretch.min.js")"></script>
		<script>
			$.backstretch("@routes.Assets.at("images/opening/biomedical.jpg")", {speed: 500});
		</script>
  	</body>
</html>

}